{%  extends 'tracer/admin/template.html' %}
{% block title %}Recommender System Dashboard{% endblock %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

      <div class="row">

          <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-info shadow-sm h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                School</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{request.user.school}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-school fa-2x text-gray-800"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow-sm h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                Users</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{count_users}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-800"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          <!-- Jobs Advertised / Posted -->
          <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow-sm h-100 py-2">
                  <div class="card-body">
                      <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                  Jobs (Advertised)</div>
                              <div class="h5 mb-0 font-weight-bold text-gray-800">{{count_jobs_advertised}}</div>
                          </div>
                          <div class="col-auto">
                              <i class="fas fa-ad fa-2x text-gray-800"></i>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lx-6 col-lg-6">
          <!-- Analytics -->
          <div class="card shadow-sm mb-4">
              <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-gradient-success">

                  <h6 class="m-0 font-weight-bold text-white"><i class="fas fa-fw fa-chart-area mr-2"></i>Registered Graduates: {{count_approved}}</h6>
              </div>
              <div class="card-body">
                  <canvas id="analyticsChart" style="width:100%;max-width:600px"></canvas>
                  <script>
                  var xValues = ["Employed","Unemployed", "Approved", "Pending"];
                  var yValues = [{{count_employed}},{{count_unemployed}},{{count_approved}},{{count_pending}}];

                  var barColors = ["#1E90FF", "#FFC0CB", "#00FF7F", "#FF6347",];

                  new Chart("analyticsChart", {
                    type: "bar",
                    data: {
                    labels: xValues,
                    datasets: [{
                      backgroundColor: barColors,
                      data: yValues
                    }]
                  },
                  options: {
                    legend: {display: false},
                    title: {
                      display: true,
                      text: "Analytics"
                    },
                    scales: {
                      yAxes: [{
                        ticks: {
                          beginAtZero: true
                        },
                          maxBarThickness: 25,}]
                      }
                  }
                  });
                  </script>
              </div>
          </div>
          <!-- About Recommender System -->
          <div class="card shadow-sm mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-gradient-secondary">
                <h6 class="m-0 font-weight-bold text-white"><i class="mr-2 fas fa-question-circle"></i>Guide</h6>
            </div>
            <div class="card-body">
              <p>To help lessen unemployment among college graduates, you can give them job opportunities
                by adding available jobs at <a target="_blank" rel="nofollow" href="{% url 'advertise' %}">advertise</a> and
                to view all the jobs available you can view it on <a target="_blank" rel="nofollow" href="{% url 'browser' %}">browse</a> jobs.
                You can also view the preferred jobs of graduates in <a target="_blank" rel="nofollow" href="#">job requests</a>.</p>
                POST and GET /<a target="_blank" rel="nofollow" href="{% url 'advertise' %}"> Advertise </a>and
                <a target="_blank" rel="nofollow" href="{% url 'browser' %}"> Browse Jobs &rarr;</a> <br>
                Graduates
            </div>

          </div>
        </div>
            <!-- Voting System -->
            <div class="col-lx-6 col-lg-6">
                <!-- Help -->
                <div class="card shadow-sm mb-4">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between bg-gradient-info">
                      <h6 class="m-0 font-weight-bold text-white"><i class="mr-2 fas fa-info-circle"></i>About</h6>
                  </div>
                  <div class="card-body">
                      <div class="text-center">
                          <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                              src="{% static 'img/visualizer.svg'  %}" alt="Dashboard-Visualizer">
                      </div>
                      <p>Recommender System aims to lessen unemployment among college graduates with its
                         easy to navigate features and wide array of available jobs ranging from information
                         technology to industrial technology related work.</p>

                      <p>Hunting for jobs has never been this easy. No more transportation costs
                        and walking under the heat of the sun to look for companies looking for
                        qualified workers like you. Recommender System brings to you opportunities
                        right in front of you at your own computer screens. You only have to be a college
                        graduate to avail of these services.
                      </p>
                  </div>
                </div>
            </div>

          </div>







{% endblock %}
