{% extends 'tracer/user/template.html' %}
{% block title %}News Feed{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row">
    <div class="col-lg-9 mt-1 ">
        <div style="width: 60%; margin-left: auto; margin-right: auto;" class="row justify-content-center mt-4 mb-5">

            <div class="card w-80 ">
                <div class="card-header">
                    <strong>ADD POST!</strong>
                </div    >
            <div class="card-body">
                <button type="button " class="btn btn-light btn-lg btn-block"  data-toggle="modal" data-target=".bd-example-modal-lg" style="border-radius:12px;"><h6 style="margin-left: -350px; opacity: 0.6;">Type something here...</h6></button>
            </div>
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="row justify-content-center ">
                            <div class=" col-md-10 col-md-5 col-sm-12 ">
                                <h5><strong>CREATE POST</strong></h5>
                            </div>
                        </div>
                        <div>
                            <div class="card w-100 m-auto">
                                <div class="card-body">

                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form | crispy }}
                                        <div class="d-grid gap-2">
                                            <button class="btn btn-success btn-sm btn-block">POST</button><br>
                                            <button type="button" class="btn btn-light btn-md "  data-toggle="modal" data-target=".bd-example-modal-lg" style="float:right;"> <strong>Cancel </strong></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

        </div>
        </div>
    </div>
    <div class="row mt-3 w-100 m-auto">
        {% for post in post_list %}
        <div style="border: 0!important; margin-bottom: 15px;" class="col-md-12 col-lg-12 col-sm-12 border-bottom position-relative">
            <div style="width: 50%; margin-right: auto; margin-left: auto; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px!important;" class="shadow p-3 mb-2 mb-0 bg-white rounded">
                <div class="card-header bg-trasparent border-none" style="background-color: #fff;">
                    <a class="nav-link">
                        <img class="img-profile1 rounded-circle" src="{{post.author.profile_picture.url}}" width=" 40" height="40" alt="User-Profile-Image">
                        <span style="font-size: 14px;" class="mr-2 d-none d-lg-inline text-gray-700 small"><strong>{{post.author.first_name}} {{post.author.middle_name}} {{post.author.last_name}}</strong></span>
                    </a>
                    <div class="mt-0 text-dark">
                        <font class="font1" size="">{{ post.created_on }}</font>
                    </div>
                    <!-- {% if request.user == post.author %}
            					<a href="{% url 'post-edit' post.pk %}" style="color: #333;"><i class="far fa-edit"></i></a>
            					<a href="{% url 'post-delete' post.pk %}" style="color: #333;"><i class="fas fa-trash"></i></a>
            				{% endif %} -->
                </div>
                  <label style="left: 498px; top: -61px;" class="dropdown">
                    <div class="dd-button">
                    </div>

                    <input type="checkbox" class="dd-input" id="test">

                    <ul class="dd-menu">
                      <li><a style="text-decoration: none; color: black" href="{% url 'post-edit' post.pk %}">Edit</a></li>
                      <li><a style="text-decoration: none; color: black" href="{% url 'post-delete' post.pk %}">Delete</a></li>
                    </ul>
                  </label>

                <div class="card-body" style=" background-color: #fff !important;color: black;">
                    <p>{{ post.body }}</p>
                    <div class="position-relative text-brown mt-1">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" class="post-image" />
                    {% endif %}

                    <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                    </div>
                </div>
                    <div class="card-footer row w-100 m-auto">
                      <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                        <form method="POST" action="{% url 'like' post.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <!-- <button style="color: #585353;" class="btn default k"> -->
                            <button class="btn default" type="submit">
                              <i class="fa fa-thumbs-up fa-lg" aria-hidden="true" type="submit">
                                <span style="font-size: 14px"> {{ post.likes.all.count }} </span>
                              </i>
                            </button>
                            <!-- </button> -->
                        </form>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                        <form method="POST" action="{% url 'dislike' post.pk %}">
                          {% csrf_token %}
                          <input type="hidden" name="next" value="{{ request.path }}">
                          <!-- <button style="color: #585353;" class="btn default v"> -->
                          <button class="btn default" type="submit">
                            <i class="fa fa-thumbs-down fa-lg" aria-hidden="true" type="submit">
                              <span style="font-size: 14px"> {{ post.dislikes.all.count }} </span>
                            </i>
                          </button>
                          <!-- </button> -->
                        </form>
                      </div>
                      <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                        <!-- <button class="btn"> -->
                          <!-- <a class="tatacom" style="text-decoration: none;" href="{% url 'post-detail' post.pk %}"></a> -->
                          <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModalCenter">
                            Comment
                          </button>
                          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLongTitle">Comment here</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <div class="justify-content-center">
                                  <div>
                                    <form method="POST">
                              				{% csrf_token %}
                              				{{ form | crispy }}
                              			</form>
                                  </div>
                                  <!-- {% for comment in comments %}
                                	<div class="row justify-content-center mt-3 mb-5">
                                		<div class="col-md-5 col-sm-12 border-bottom">
                                			<p>
                                				<strong>{{ comment.post.author.firstname }} {{ comment.post.author.lastname }}</strong> {{ comment.created_on }}
                                				{% if request.user == comment.author %}
                                					<a href="{% url 'comment-delete' post.pk comment.pk %}" style="color: #333;"><i class="fas fa-trash"></i>
                                					</a>
                                				{% endif %}
                                			</p>
                                	        <p>{{ comment.comment }}</p>
                                		</div>
                                	</div>
                                	{% endfor %} -->
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <div class="d-grid gap-2">
                                    <button class="btn btn-success mt-3">Submit!</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-- <button class="btn default"> -->
                          <!-- <a href="{% url 'post-detail' post.pk %}">
                          <i style="margin-top: 2px; font-size: 19px; color: #262323;" class="fa fa-comment"></i> -->
                      </div>
                    </div>
            </div>
        </div>
        {% endfor %}
        </div>
        </div>
        <div class="col-lg-3">
            <div class="row justify-content-center  text-content" style="height:100% !important; padding-bottom:none !important;">
                <ul class="w-100 bg-gradient-light sidebar sidebar-dark accordion" id="sidebnav-wrapper" style="height:100% !important; text-color:black;" >
                    <div class="body">
                        <li class="sidnav-brand">
                            <strong>YOUR FRIENDS</strong>
                            {% for grad_info in grad_infos %}
                              {% if grad_info.approved %}
                                {% if grad_info.email != request.user.email %}
                                  <li class="nav-item active">
                                      <a class="nav-link">
                                        <img class="img-profile rounded-circle shadow-sm" data-toggle="modal" data-target="#bd-example-modal-lg1{{grad_info.id}}" src="{{grad_info.profile_picture.url}} " width=" 50" height="50" alt="User-Profile-Image">
                                          <span class="mr-2 d-none d-lg-inline text-gray-700 small" data-toggle="modal" data-target="#bd-example-modal-lg1{{grad_info.id}}"><strong>{{grad_info.email}}</strong></span>
                                      </a>
                                  </li>
                                {% endif %}
                            {% endif %}
                          {% endfor %}
                    </div>
                </ul>
            </div>
        </div>
        <!-- basic modal -->
            {% for grad_info in grad_infos %}
  						<div class="modal fade" id="bd-example-modal-lg1{{grad_info.id}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
              <div class="modal-content">
									<form method="POST" action="">
										{% csrf_token %}
											<div class="card-header text-black">

												<div class="row">
														{% if grad_info.profile_picture %}
															<div class="col-lg-2">
																<img class="img-profile rounded-circle shadow-sm" src="{{grad_info.profile_picture.url}}" width="70" height="70" alt="User-Profile-Image">
															</div>
														{% endif %}
														<div class="col-lg-10">
															<p class="pt-3">{{grad_info.first_name}} {{grad_info.middle_name}} {{grad_info.last_name}}</p>
														</div>
												</div>
											</div>
											<div class="card-body">
														<div class="row">
															<div class="col-lg-6">
																<p>Email Address: {{grad_info.email}}</p>
															</div>
                              <div class="col-lg-6">
																<p>ID Number: {{grad_info.IDNum}}</p>
															</div>
														</div>
														<div class="row">
															<div class="col-lg-6">
																<p>Address: {{grad_info.address}}</p>
															</div>
															<div class="col-lg-6">
																<p>Contact Number: {{grad_info.contactnum}}</p>
															</div>
														</div>
														<div class="row">
															<div class="col-lg-6">
																<p>School: {{grad_info.school}}</p>
															</div>
															<div class="col-lg-6">
																<p>Course: {{grad_info.course_type}}</p>
															</div>
														</div>
														<div class="row">
															<div class="col-lg-6">
																<p>Employment Status: {{grad_info.employment_status}}</p>
															</div>
															<div class="col-lg-6">
																<p>Year Graduated: {{grad_info.date_graduated}}</p>
															</div>
														</div>
														<div class="row">
															<div class="col-lg-6">
																<p>Skills: {{grad_info.skill}}</p>
															</div>
															<div class="col-lg-6">
																<p>Job Description: {{grad_info.job_description}}</p>
															</div>
														</div>
														<div class="modal-footer">
										        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
										      </div>
												</div>
										</form>
									</div>
                </div>
          	</div>
          {% endfor %}

    </div>
</div>
{% endblock content %}
